/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.ui-sortable-helper {
    display: table;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Style for the drag and drop between lists */

.apps-container {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

.app {
  padding: 5px 10px;
  margin: 5px 0;
  border: 2px solid #444;
  
  list-style-type: none;

  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  cursor: move;
}

.logItem {
  margin-bottom: 10px;
}

.container {
  width: 750px;
  margin: auto;
}

.floatleft {
  float: left;
}

.floatright {
    vertical-align: center;
    padding-left: 20px;
    margin-left: 20px;
}

.ul-without-bullets{
}

.dragdrop{
  float: left;
  padding: 7px 11px;
  background-color: rgb(248,248,248);
}
.dragAndDropLI{
  float: left;
  background-color: rgb(200,200,200);
  padding: 5px 19px;
  margin: 5px 2px 5px 0px;
  color: black;
  list-style: none;
}

li.dragAndDropLI a {
  text-decoration: none;
  color: white;
  font-size: 21px;
  font-style: italic;
  text-shadow: 1px 0px 3px rgb(157, 157, 157);
}
li:nth-child(1) { border-radius: 4px 0px 0px 4px; margin-left: 1px;}
li:nth-child(2) { border-radius: 0px 4px 4px 0px;}
.active {
  background-color: rgb(6,179,6);
}

#left, #right{
    padding: 10px 10px;
    height: auto;
}

#left {
  float: left;
  width: 50%;
  overflow: hidden;
}

#right {
  overflow: hidden;
} 
#center {
    width: 50%;
    margin: 0 auto;
}

.first-dropdown, .second-dropdown{
  height: 30px;
}
